body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: rgb(143, 134, 138);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 60px 1fr 90px;
}

nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: rgb(52, 66, 29);
  justify-content: space-between;
  align-items: center;
}

nav div {
  font-size: 20px;
  margin: 60px;
  color: white;
}

section {
  display: flex;
}

aside {
  background-color: white;
  color: rgb(52, 66, 29);
}

main {
  background-color: rgb(139, 153, 115);
  color: black;
  font-size: 18px;
}

footer {
  background-color: rgb(52, 66, 29);
  color: white;
}

.flex-ctr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-text {
  display: flex;
}

.main-text p,
h4 {
  margin: 15px;
  margin-top: 30px;
}

.rule-text {
  display: flex;
  flex-direction: column;
}

.rule-text p {
  margin: 20px;
  margin-top: 5px;
}

.rule-text h4 {
  text-align: center;
  font-size: 22px;
}

.sidebar-text h3 {
  font-size: 20px;
}

.logo {
  font-size: 30px;
}

nav,
footer {
  grid-column: span 2;
}

#dog2 {
  height: 300px;
}

#dog1 {
  width: 200px;
  margin-top: 150px;
}

#link {
  color: peru;
}
