body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: rgb(143, 134, 138);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 60px 1fr 30px;
}

nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: black;
  justify-content: center;
  align-items: center;
}

nav div {
  font-size: 20px;
  margin: 60px;
  color: white;
}

section {
  display: flex;
}

aside {
  background-color: white;
}

main {
  background-color: rgb(143, 134, 138);
  color: black;
  font-size: 18px;
}

footer {
  background-color: black;
  color: white;
}

.flex-ctr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-text {
  display: flex;
}

.main-text p,
h4 {
  margin: 15px;
}

nav,
footer {
  grid-column: span 2;
}

#dog2 {
  height: 250px;
}

#dog1 {
  width: 200px;
}
